{% extends 'app.html' %}

{% load static %}

{% block title %}- Estatistica{% endblock title %}

{% block content %}
<form method="post">
    {% csrf_token %}
<div style="padding: 1rem 2vw 0px;">
  <hr>
  <h2 class="title has-text-grey is-uppercase" style="font-size: 2.0rem;">
      Consultar a Estatistica 
  </h2>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
<table>
    <thead>

    </thead>
    <tbody>
        {% if user.groups.all.0.name == "Funcionario" %}
        <tr>
            <th style="text-align: center;">
                <h2 class="title has-text-grey is-uppercase" style="font-size: 1.5rem;">Consultar tempo médio de processamentos dos pedidos </h2>
            </th>
            <th>
               
                <a href="{% url 'estatisticas:estatistica-tempo-medio-f'%}">
                <button type="button" value="Voltar" class="button is-success" style="margin-left:50%" >Consultar</button>
            </a>
            </th>
        </tr>
        <tr>
            <th style="text-align: center;">
                &nbsp;
            </th>
            <th>
               
            </th>
        </tr>
        <tr>
            <th style="text-align: center;">
            
                <h2 class="title has-text-grey is-uppercase" style="font-size: 1.5rem;">Consultar média de pedidos num intervalo de tempo </h2>
            </th>
            <th>
                <a href="{% url 'estatisticas:estatistica-pedidos-medio-f'%}">
                    <button type="button" value="Voltar" class="button is-success" style="margin-left:50%" >Consultar</button>
                </a>
            </th>            

        
        </tr>
        <tr>
            <th style="text-align: center;">
                &nbsp;
            </th>
            <th>
               
            </th>
        </tr>   
        <tr>
            <th style="text-align: center;">
                <h2 class="title has-text-grey is-uppercase" style="font-size: 1.5rem;">Consultar estatisticas dos pedidos  </h2>
            </th>
            <th>
               
                <a href="{% url 'estatisticas:estatistica-sobre-pedido-f'%}">
                <button type="button" value="Voltar" class="button is-success" style="margin-left:50%" >Consultar</button>
            </a>
            </th>
        </tr>
        {% endif %}
        {% if user.groups.all.0.name == "PCP" %}
        <tr>
            <th style="text-align: center;">
                <h2 class="title has-text-grey is-uppercase" style="font-size: 1.5rem;">Consultar tempo médio de processamentos dos pedidos </h2>
            </th>
            <th>
               
                <a href="{% url 'estatisticas:estatistica-tempo-medio-pcp'%}">
                <button type="button" value="Voltar" class="button is-success" style="margin-left:50%" >Consultar</button>
            </a>
            </th>
        </tr>
        <tr>
            <th style="text-align: center;">
                &nbsp;
            </th>
            <th>
               
            </th>
        </tr>
        <tr>
            <tr>
                <th style="text-align: center;">
                    <h2 class="title has-text-grey is-uppercase" style="font-size: 1.5rem;">Consultar  médio pedidos processados num intervalo de tempo </h2>
                </th>
                <th>
                   
                    <a href="{% url 'estatisticas:estatistica-pedidos-medio-pcp'%}">
                    <button type="button" value="Voltar" class="button is-success" style="margin-left:50%" >Consultar</button>
                </a>
                </th>
            </tr>
        {% endif %}
        {% if user.groups.all.0.name == "Docente" %}
        <tr>
            <th style="text-align: center;">
                <h2 class="title has-text-grey is-uppercase" style="font-size: 1.5rem;">Consultar estatisticas dos pedidos </h2>
            </th>
            <th>

                <a href="{% url 'estatisticas:estatistica-sobre-pedido-d'%}">
                <button type="button" value="Voltar" class="button is-success" style="margin-left:50%" >Consultar</button>
            </a>
            </th>
        </tr>
        
        {% endif %}

    </tbody>
  
    
</table>
    
  
</form>

{% endblock content %}

{% block scripts %}

  
{% endblock scripts %}