{% extends 'app.html' %}

{% block title %}Enviar Notificação{% endblock title %}

{% block content %}
<div>
    <nav aria-label="breadcrumbs" class="breadcrumb">
        <ul>
            <li><a href="/">Início</a></li>
            <li class="is-active"><a>Mensagens</a></li>
        </ul>
    </nav>
    <div style="padding: 3rem 2vw 1rem;">
        <div class="steps is-success">
            {% if not docente %}
                <div class="step-item is-completed is-success">

                    <div class="step-marker">

                        <span class="icon">

                            <i class="mdi mdi-account"></i>

                        </span>

                    </div>

                    <div class="step-details">

                        <p class="step-title">Escolher Tipo</p>

                    </div>

                </div>
            {% endif %}
            <div class="step-item is-completed is-success">

                <div class="step-marker">

                    <span class="icon">

                        <i class="mdi mdi-circle-edit-outline mdi-24px"></i>

                    </span>

                </div>



                <div class="step-details">

                    <p class="step-title">Escrever Mensagem</p>

                </div>

            </div>



            <div class="step-item is-success">

                <div class="step-marker">

                    <span class="icon">

                        <i class="mdi mdi-check"></i>

                    </span>

                </div>

                <div class="step-details">

                    <p class="step-title">Concluir</p>

                </div>

            </div>

        </div>
        <div class="columns">
            <div class="column is-3">
            </div>
            <div class="column">
                <div style="padding: 3rem 2vw 1rem;">
                    <form method="post" onsubmit="showHide();">
                        {% csrf_token %}
                        {% if form.to %}
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Destinatário</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control select" style="width: 100%">
                                            {{form.to}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Título</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" name="titulo" id="id_titulo"
                                            value="{{form.titulo.value|default_if_none:"" }}" type="text"
                                            placeholder="Insira o título da mensagem">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Mensagem</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <textarea class="textarea" name="mensagem" 
                                            placeholder="Insira a mensagem a enviar">{{form.mensagem.value|default_if_none:"" }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="hidden_div" style="display:none" class="loader"></div>
                        <div class="field is-horizontal" style="margin-left:22%;margin-top:5%">
                            <div class="field-label">
                                <!-- Left empty for spacing -->
                            </div>
                            <div class="field-body">
                                <div class="field is-grouped">
                                    <p id="button1" class="control">
                                        <a href="{% url 'notificacoes:enviar-notificacao' %}" class="button is-light">
                                            Voltar
                                        </a>
                                    </p>
                                    <p id="button2" class="control">
                                        <button style="" type="submit" class="button is-success is-outlined">
                                            <span>Confirmar</span>
                                        </button>
                                    </p>

                                </div>
                            </div>
                        </div>
                        {% if msg %}
                        <div style="margin-top:5%;text-align:center;position:center;">
                            <article class="message is-danger">
                                <div class="message-body">
                                    <p style="text-align: center;">
                                        {% if erro == True %}
                                        
                                        <p style="color: #ff0000; text-align:center">{{msg_erro}}</p>

                                        {% endif %}
                                        {% if form.non_field_errors %}
                                        {% for error in form.non_field_errors %}
                                        <p style="color: #ff0000; text-align:center">{{error}}</p>
                                        {% endfor %}
                                        {% else %}

                                        {% for field in form %}
                                        {% for error in field.errors %}
                                        <p style="color: #ff0000;">{{ error }}</p>
                                        {% endfor %}
                                        {% endfor %}
                                        {%endif%}

                                    </p>
                                </div>
                            </article>
                        </div>
                        {% endif %}
                    </form>

                </div>
            </div>
            <div class="column is-3">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function showHide() {
      var div = document.getElementById("hidden_div");
      if (div.style.display == 'none') {
        div.style.display = '';
        div.style.width = "50px";
        div.style.height = "50px";
        div.style.margin = "auto";
      }
      else {
        div.style.display = 'none';
      }
      var div = document.getElementById("button1");
      if (div.style.display == 'none') {
        div.style.display = '';
      }
      else {
        div.style.display = 'none';
      }
      var div = document.getElementById("button2");
      if (div.style.display == 'none') {
        div.style.display = '';
      }
      else {
        div.style.display = 'none';
      }
    }
   </script>
{% endblock content %}