{% extends 'app.html' %}

{% load static %}

{% block title %}- Importar{% endblock title %}

{% block content %}

<div style="padding: 1rem 2vw 0px;">
  <hr>
  <h2 class="title has-text-grey is-uppercase" style="font-size: 2.0rem;">
      Informação sobre dados importados do ficheiro Excel de Salas: 
  </h2>

    <h2 class="title has-text-grey is-success" style="font-size: 1.5rem;">
   Salas:
    </h2>
    <table class="table" style="width: 100%; ">
        <thead style="background-color: rgb(110, 248, 221);">
            <tr>
              <th style="text-align: center">Sala</th>
              <th style="text-align: center">Nome da Instituição</th>
              <th style="text-align: center">Edificio</th>
              <th style="text-align: center">Tipo de sala</th>
              <th style="text-align: center">Tipo de aulas</th>
              <th style="text-align: center">Lotacao</th>

              <th></th>
            </tr>
        </thead>
        <tbody style="background-color: rgb(218, 226, 226);">
            {% for dado in dados %}
            <tr>
                <th style="text-align: center; font-weight: normal;">{{dado.Desc_Sala}}</th>
                <th style="text-align: center; font-weight: normal;">{{dado.Nome_Instituição}}</th>
                <th style="text-align: center; font-weight: normal;">{{dado.Desc_Edifício}}</th>
                <th style="text-align: center; font-weight: normal;">{{dado.Des_Categoria}}</th>
                <th style="text-align: center; font-weight: normal;">{{dado.Id_tipo_sala}}</th>
                <th style="text-align: center; font-weight: normal;">{{dado.Lotação_presencial_sala}}</th>
                {% if dado.new_sala == 'S' %}
                         <th style="text-align: center; font-weight: normal; color:red">Esta sala já está na BD</th>
                {% else %}
                         <th></th>
                {% endif%}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    


</div>


{% endblock content %}

{% block scripts %}

  
{% endblock scripts %}