{% extends 'app.html' %} 
{% load static %} {% block title %}- Criar Pedido
de UC{% endblock title %} {% block content %}
<div id="criar-pedido">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div style="padding: 1rem 2vw 0px">
      <hr />
      <h2 class="title has-text-grey is-uppercase" style="font-size: 2rem">
        Criar Pedido UC
      </h2>
      {% if msg %}
      <div style="margin-left: 30%; margin-right: 30%; margin-top: 0%">
        <div style="margin-top: 2%; text-align: center; position: center">
          <article class="message is-danger">
            <div class="message-body">
              <p style="text-align: center">{{erros}}</p>
            </div>
          </article>
        </div>
      </div>
      {% endif %}
      <div style="margin-bottom: 1.5rem">
        <label
          for="nome"
          style="display: block; font-weight: bold; margin-bottom: 0.5rem"
          >Assunto:</label
        >
        <input type="text" id="nome" name="assunto"
        value="{{form.assunto.value|default_if_none:""}}" style=" font-size:
        1rem; padding: 0.5rem; border-radius: 4px; border: 1px solid #ccc;
        width: 100%; " required />
      </div>
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Data Alvo:</label>
            <div class="control is-clearfix">
              <input name="data"
              value="{{form.data_de_alvo.value|default_if_none:""}}" type="date"
              class="input">
            </div>
          </div>
        </div>
      </div>
      <div style="margin-bottom: 1.5rem">
        <label
          for="descricao"
          style="display: block; font-weight: bold; margin-bottom: 0.5rem"
          >Descrição:</label
        >
        <textarea
          id="descricao"
          name="descricao"
          style="
            font-size: 1rem;
            padding: 0.5rem;
            border-radius: 4px;
            border: 1px solid #ccc;
            width: 100%;
            min-height: 10rem;
          "
          required
        ></textarea>
      </div>
    </div>
    <div>&nbsp;</div>
    <select name="selected_option"  v-model="selectedOption" class="label" style="width:100%" required>
        <option> </option>
        <option name="2" value="2">Enviar ficheiro</option>
        <option name="1" value="1">Preencher tabela</option>
    </select>
    <div>&nbsp;</div>
    <div v-if="selectedOption === '2'" >
      <input type="file" name="arquivo" class="button" style="width: 100%" required >
    </div>
    <table 
      v-show="selectedOption === '1'"
      class="table"
      style="width: 100%; background-color: rgb(51, 151, 131)"
    >
      <thead>
        <tr>
          <th></th>
          <th>Ação</th>
          <th>Unidade Curricular</th>
          <th>Turma</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody style="background-color: #ccc">
        <tr v-for="(subpedido, index) in subpedidos" :key="index">
          <th>
            <button
              type="button"
              class="button is-danger is-small"
              v-on:click="removeRow(index)"
            >
              Remover
            </button>
          </th>
          <th style="font-weight: normal">[[subpedido.acao]]</th>
          <th style="font-weight: normal">[[subpedido.ucname]]</th>
          <th style="font-weight: normal">[[subpedido.turma]]</th>
          <th style="font-weight: normal">[[subpedido.descricao]]</th>
        </tr>
      </tbody>
    </table>

    <add-subpedido :subpedidos="subpedidos" v-show="selectedOption === '1'"></add-subpedido>

    <input
      type="hidden"
      name="subpedidos"
      v-bind:value="JSON.stringify(subpedidos)"
    />
    <div style="margin-top: 8%; text-align: center; position: center">
      <button
        type="button"
        value="Voltar"
        class="button is-outlined"
        style="margin-right: 5%"
        onclick="history.back();"
      >
        Voltar
      </button>
      <button
        name="confirmar"
        value="confirmado"
        class="button is-success is-outlined"
        v-on:click="confirmar()"
      >
        <span>Confirmar</span>
      </button>
    </div>
  </form>
</div>

{% endblock content %} {% block scripts %}
<script>
  axios.defaults.xsrfCookieName = "csrftoken";
  axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";

  Vue.component("add-subpedido", {
    delimiters: ["[[", "]]"],
    props: ["subpedidos"],
    template: ` 
    <div>
        <div>
          <article v-if="valueError" class="message is-danger">
                <div class="message-body">
                    <p style="text-align: center;">
                        A descrição devem ter pelo menos 5 caracteres
                    </p>
                </div>
            </article>                 
            <table class="table" style="width: 100%;">
                <tbody>
                    <tr>
                      <td>
                            <select style="font-size: 1rem; padding: 0.5rem; border-radius: 4px; border: 1px solid #ccc; width: 100%;" placeholder="Ações" v-model="subacao"">
                                <option value="criar">Criar</option>
                                <option value="alterar">Alterar</option>
                                <option value="eliminar">Eliminar</option>
                            </select>
                        </td>
                        <td>

                        <select  name="subuc" v-model="subuc" style="font-size: 1rem; padding: 0.5rem; border-radius: 4px; border: 1px solid #ccc; width: 100%;">
                        <option value="1"></option>
                        {% for s in ucs %}
                        <option  value="{{s.id}}_{{s.nome}}">
                                {{s.nome}}
                        </option>
                        {% endfor %}

                      </select>

                        </td>


                        <td>
                          <select style="font-size: 1rem; padding: 0.5rem; border-radius: 4px; border: 1px solid #ccc; width: 100%;" placeholder="turma" v-model="subturma"">
                                <option value="PL1">PL1</option>
                                <option value="PL2">PL2</option>
                                <option value="T">T</option>
                                <option value="TP">TP</option>
                            </select>   
                          </td>
                        <td>
                            <textarea type="text" style="font-size: 1rem; padding: 0.5rem; border-radius: 4px; border: 1px solid #ccc; width: 100%;" placeholder="" v-model="subdescricao" :class="{ 'has-error': hasError }">
                              </textarea>
                              </td>
                    </tr>
                </tbody>
            </table>
            <button style="margin-left: 50%;" type="button" class="button is-success" v-on:click="addRow()">Adicionar</button>                           
        </div>
    
    </div>
    `,
    data() {
        return{
            error: false,
            subacao: "",
            subuc: "",
            subturma: "",
            subdescricao: "",
        };
    },
    computed: {
        valueError(){
            return this.error;
        }
    },
    methods: {
        clearInput(){
            this.subacao = "";
            this.subuc = "";
            this.subturma = "";
            this.subdescricao = "";
        },
        hasError() {
            return (this.subdescricao.length < 5);
        },
        addRow(){
            if(!this.hasError()){
                const novoSubpedido = {
                    acao: this.subacao,
                    uc: this.subuc,
                    ucname: this.subuc.split("_")[1],
                    turma: this.subturma,
                    descricao: this.subdescricao
                };
                this.subpedidos.push(novoSubpedido);
                this.clearInput();
                this.error = false;
            } 
            else{
                this.error = true;
            } 
        },    
    },
  });

  var app = new Vue({
    delimiters: ["[[", "]]"],
    el: "#criar-pedido",
    data() {
      return {
        subpedidos: [],
        selectedOption: '',
      };
    },
    mounted() {
      var a = "{{pedidos}}";
      this.getSubPedidos(a);
    },
    methods: {
      removeRow(index) {
        this.subpedidos.splice(index, 1);
      },
      getSubPedidos(subpedidos) {
        if (subpedidos.length > 0) {
          let arrayValores = subpedidos.split("&#x27;");
          for (let i = 3; i < arrayValores.length; i += 16) {
            const novoSubpedido = {
              acao: arrayValores[i],
              uc: arrayValores[i + 4],
              turma: arrayValores[i + 8],
              descricao: arrayValores[i + 12],
            };
            this.subpedidos.push(novoSubpedido);
          }
        }
      },
    },
  });
</script>
{% endblock scripts %}
