{% extends 'app.html' %}



{% block title %}- Criar Utilizador{% endblock title %}



{% block content %}

<div>
    <div style="padding: 3rem 2vw 1rem;">
        <div class="steps is-success">
            <div class="step-item is-completed is-success">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-account"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Escolher Perfil</p>
                </div>
            </div>

            <div class="step-item is-success">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-circle-edit-outline mdi-24px"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Preencher Campos</p>
                </div>
            </div>

            <div class="step-item is-success">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-check"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Concluir</p>
                </div>
            </div>

        </div>
            <div style="margin-bottom:5%;margin-top:5%;">
                <h2 class="title is-5" style="text-align: center;" >Por favor selecione o tipo de utilizador que pretende:</h2>
            </div>
            <div class="columns is-mobile is-centered">
                <div class="column is-narrow">
                    <div class="buttons has-addons" >
                        {% for user in utilizadores %}
                        <a href="{% url 'main:criar-utilizador' forloop.counter %}">
                            <button class="button">{{user}} </button>
                        </a>
                        {% endfor %}                   
                    </div>
                </div>
            </div>
    </div>

    <button type="button" value="Voltar" class="button is-outlined" style="margin-left: 10%;margin-top:10%;" onclick="history.back();">Voltar</button>

</div>
{% endblock content %}