{% extends 'app.html' %}



{% block title %}- Login{% endblock title %}



{% block content %}

{% if msg %}
    <div  style="margin-left:30%;margin-right:30%; margin-top:0%">
        <div style="margin-top:2%;text-align: center;position:center;">
            <article class="message is-danger">
                <div class="message-body">
                    <p style="text-align: center;">
                        {{error}}
                    </p>
                </div>
            </article>
        </div>
    </div> 
{% endif %}

<div>
    <div style="margin-bottom:3%;margin-top:3%;">
        <h2 class="title is-4" style="text-align: center;" >Login</h2>
    </div>

    <div style="margin-left:35%; margin-right:35%">
        <div>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="columns">
                    <div class="column">  
                        <div class="field">
                            <label class="label">{{field.label_tag}}</label>
                                <div class="control">{{field}}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
                <div style="margin-top:7%;text-align: center;position:center;">
                    <button type="submit" class="button is-success is-outlined">
                        <span>Confirmar</span>
                    </button>
                </div>
            </form>
            <div style="margin-top:6%;text-align: center;position:center;">
            
            </div>
          </div>
    </div>
</div>


{% endblock content %}
