{% load static %}



<nav id="main-navbar" class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item logo" href="/">
          <img src="{% static 'img/logo-navbar-novo.png' %}"  >
        </a>
        
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            {% if user.is_authenticated %}
                {% if user.groups.all.0.name == "Docente" %}
                <div class="navbar-item has-dropdown is-hoverable">
                  <a href="" class="navbar-link">
                    Criar Pedido 
                  </a>
                
                  <div class="navbar-dropdown">
                    <a href="{% url 'pedidos:criar-pedido-sala' %}" class="navbar-item">
                      Sala
                    </a>
                    <a href="{% url 'pedidos:criar-pedido-uc' %}" class="navbar-item">
                      Unidade Curricular
                    </a>
                    <a href="{% url 'pedidos:criar-pedido-horario' %}" class="navbar-item">
                      Horário
                    </a>
                    <a href="{% url 'pedidos:criar-pedido-outros' %}" class="navbar-item">
                      Outros
                    </a>
                  </div>
                </div>  
              
                    <a href="{% url 'estatisticas:estatistica-sobre-pedido-d'%}"class="navbar-item">
                  Estatísticas
                </a>
                {% endif %}
                {% if user.groups.all.0.name == "Funcionario" %}
                <a href="{% url 'anoletivo:consultar-ano-letivo' %}" class="navbar-item">
                  Ano Letivo
                </a>
                <a href="{% url 'importacoes:importar' %}" class="navbar-item">
                  Importar Ficheiros
                </a>
                <a href="{% url 'estatisticas:estatistica' %}" class="navbar-item">
                  Estatísticas
                </a>
                {% endif %}
                {% if user.groups.all.0.name == "PCP" %}
                <a href="{% url 'anoletivo:consultar-ano-letivo' %}" class="navbar-item">
                  Ano Letivo
                </a>
                <a href="{% url 'importacoes:importar' %}" class="navbar-item">
                  Importar Ficheiros
                </a>
                <a href="{% url 'estatisticas:estatistica' %}" class="navbar-item">
                  Estatísticas
                </a>

                {% endif %}
              
              <a href="{% url 'pedidos:listagem-pedidos' %}" class="navbar-item">
                Listar Pedidos
              </a>
              <a href="{% url 'pedidos:exportar-pedidos' %}" class="navbar-item">
                Exportar Pedidos
              </a>
              
            {% else %}
              

            {% endif %}
            

           
        </div>
        <div class="navbar-end">
          
          <div class="navbar-item">
                    <!-- Notificações Inicio-->          
            
                      <div id="mensagens-dropdown" class="dropdown is-right"
                        onclick="event.currentTarget.classList.toggle('is-active')">
                        <div class="dropdown-trigger">
                          <span role="button" aria-haspopup="true" aria-controls="dropdown-menu6">
                            <div type="button" data-badge="0" class="button has-badge-rounded has-badge-warning is-text"
                              style="margin-right: 0.9rem">
                              <span>
                                <span class="icon">
                          
                                  <i class="mdi mdi-message mdi-24px"></i>
                                </span>
                              </span>
                            </div>
                          </span>
                        </div>
                          
                        <div class="dropdown-menu" id="dropdown-menu6" role="menu" style="min-width: 25rem">
                          <div class="dropdown-content">
                            <hr class="dropdown-divider">
                            <div class="dropdown-item level">
                              <div class="level-left">
                                <span class="icon">
                                  <i class="mdi mdi-message-text">
                                  </i>
                                </span>
                                <a href="{% url 'notificacoes:enviar-notificacao' %}">Nova mensagem</a>
                              </div>
                              <div class="level-right">
                                <small><a href="{% url 'notificacoes:detalhes-mensagem' 0 0 %}">Ver todas as mensagens</a></small>
                              </div>
                            </div>
                          </hr>
                          </div>

                        </div>
                      </div>

                    </div>
          <!-- Notificações fim-->
          <div class="navbar-item">
            {% if user.is_authenticated %}
              <b class="navbar-item">
                  Welcome {{user}}
              </b>
              <a href="{% url 'main:logout' %}" class="navbar-item">
                  Sair
              </a>
              
            {% else %}
              <a href="{% url 'main:escolher-perfil' %}" class="navbar-item">
                Criar Utilizador
              </a>
              <a href="{% url 'main:login' %}" class="navbar-item">
                Login
              </a>
            {% endif %}
          </div>
        </div>

        
    </div>

</nav>




{% block scripts %}
<script>
  function detalhes_url_notificacoes(item) {
    var tmp = String(item.id)
    return "";
  }
</script>
<script type="text/javascript" src="{% static 'js/notificacoes.js' %}"></script>
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

<script>
  $('#dropdown_definicoes').click(function (e) {
    $('#mensagens-dropdown').removeClass('is-active');
  })

  $('#mensagens-dropdown').click(function (e) {
    $('#dropdown_definicoes').removeClass('is-active');
  })

  $('#notificacoes_trigger').click(function (e) {
    $('#dropdown_definicoes').removeClass('is-active');
    $('#mensagens-dropdown').removeClass('is-active');
  })

  function onclick_burger(e) {
    $('#main-navbar > .navbar-menu').toggleClass('is-active');
    $('#dropdown_definicoes').toggleClass('is-right');
    $('#dropdown_definicoes').toggleClass('is-left');
    $('#mensagens-dropdown').toggleClass('is-right');
    $('#mensagens-dropdown').toggleClass('is-left');
  };
</script>

{% endblock scripts %}